# File di Configurazione Generati (Dati Sensibili Personali)
vars.yml
secrets.yml

# File di Inventario Ansible (Generati dinamicamente o obsoleti)
*.ini

# Output temporanei (Discovery Proxmox)
proxmox_storages.json
proxmox_info.json

# Ambiente Python e Cache
__pycache__/
*.pyc
webApp/Backend/venv/